@use '/node_modules/bootstrap/scss/bootstrap.scss';
@use "./partials/variables.scss" as *;

@mixin y_container{
   max-width: 1170px;
   margin: auto;
}

main{
   background-color: $y-primary
}

.my_container{
   @include y_container;
}